@model ShoppingMenegment.Models.Entity.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-4 display-3">Details</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <!--Card 1-->
        <div class=" my-2  col-md-6">
            <div class="card text-white bg-secondary h-100">
                <div class="card-header text-center">
                    <h1 class="display-5">Product</h1>
                </div>
                <div class="card-body p-0 d-flex">
                    <ul class="list-group w-100">
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.Id) <span class="float-end">@Html.DisplayFor(model => model.Id)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.Model) <span class="float-end">@Html.DisplayFor(model => model.Model)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.Brand) <span class="float-end">@Html.DisplayFor(model => model.Brand)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.Name) <span class="float-end">@Html.DisplayFor(model => model.Name)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.Description) <span class="float-end">@Html.DisplayFor(model => model.Description)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.UnitPrice) <span class="float-end">@Html.DisplayFor(model => model.UnitPrice)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.Img) <span class="float-end">@Html.DisplayFor(model => model.Img)</span></li>
                        <li class="list-group-item border-0"> @Html.DisplayNameFor(model => model.ProductCategory) <span class="float-end">@Html.DisplayFor(model => model.ProductCategoryId)</span></li>
                    </ul>
                </div>
                <div class="card-footer p-0 text-center ">
                    <a class="btn btn-info my-4 float-start btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                    <a class="btn btn-warning my-4   float-end btn-lg" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
