@model List<UserManagmentViewModel>

@{
    ViewData["Title"] = "Employee User";
}


<h1 class="text-center display-3 " style="color:#FF7636;">Employee User</h1>
<p class="float-end">
    <a class="ui inverted violet  button btn-lg " asp-action="EmployeeUserCreate"><i class="hand point right icon pe-5 fs-4"></i>Create New</a>
</p>
<table class="table table-hover " style="width:70rem">
    <thead>
        <tr class="table-primary" style="color:#FF7636;">
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>FullName</th>
            <th>Edit| Details | Delete</th>
            <th>Role</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="table-primary">
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.FullName</td>
                <td>
                    <a class="btn btn-info " asp-action="Edit" asp-route-id="@item.UserId"><i class="bi bi-brush me-2"></i>Edit</a> |
                    <a class="btn btn-warning " asp-action="Details" asp-route-id="@item.UserId"><i class="bi bi-file-earmark-text me-2"></i>Details</a> |
                    <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.UserId"><i class="bi bi-trash3 me-2"></i>Delete</a>
                </td>
                <td>
                    <a class="btn btn-info " asp-action="RoleAssign" asp-route-id="@item.UserId"><i class="bi bi-award me-2"></i>RoleAssign</a>
                </td>
            </tr>
        }
    </tbody>
</table>

