@model IEnumerable<ShoppingMenegment.Models.Entity.Branch>

@{
    ViewData["Title"] = "Branch";
}


<h1 class="text-center display-3 " style="color:#FF7636;">Branch</h1>
<p class="float-end">
    <a class="ui inverted violet  button btn-lg " asp-action="Create"><i class="hand point right icon pe-5 fs-4"></i>Create New</a>
</p>

<table class="table table-hover ms-5">
    <thead>
        <tr class="table-primary" style="color:#FF7636;">
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>ContactNumber</th>
            <th>Store</th>
            <th>Edit| Delete | Details</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="table-primary">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.ContactNumber</td>
                <td>@item.StoreId</td>
                <td>
                    <a class="btn btn-info " asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-brush me-2"></i>Edit</a> |
                    <a class="btn btn-warning " asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-file-earmark-text me-2"></i>Details</a> |
                    <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3 me-2"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
